@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-react';
@import '@skeletonlabs/skeleton/themes/cerberus';


.header {
    font-size: 5vw;
    text-align: center;
}

.title {
    font-size: 3vw;
}

/* .center{
    margin-left: 25%;
    text-align: center;
} */



.padd {
    padding-top: 50px;
    padding-bottom: 1000px;
}


.grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #8e9e8e;    
}

@media (max-width: 1050px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
.grid>div {
    padding: 10px;
}

.gridSocials {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
}

@media (max-width: 1050px){
    .gridSocials{
        grid-template-columns: repeat(1, 1fr);
    }
}

.gridSocials>div {
    padding: 10px;
}

